/* universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* *:hover {
    box-shadow: 0px 0px 5px 3px gray;
} */

.grid-container {
    display: grid;
  
    grid-template-areas:
      "header header"
      "underheader underheader"
      "about about"
      "main main"
      "footer footer";
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr auto auto auto;
  
    height: 95vh;
    width: 100vw;
  }

    /* backgrounds {
    width: 100vw;
    height: 100vh;
    } */

#background1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/floral-dream1.jpg")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    z-index:-1;
}
#background2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/floral-dream2.jpg")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    z-index:-1;
}
#background3 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/floral-dream3.jpg")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    z-index:-1;
}

#background4 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/floral-dream4.jpg")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    z-index:-1;
}

#background5 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("/assets/images/floral-dream5.jpg")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0;
    z-index:-1;
}

/* Header, Nav Bar */
header {
    grid-area: header;
    padding: 20px;
    background-color: rgb(49, 52, 61);
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

header nav li::after {
    display: block;
    content: "___________";
}

a {
    color: #ffffff;
    text-decoration: none;
}

#underheader {
    grid-area: underheader;
    height: 170px;
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("../images/underheader.jpg"); */
    background-size: cover;
    background-position: center;
}

.major-section {
    display: inline-block;
    margin-right: 5%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.section-title {
    height: 12vw;
    width: 15%;
    border-right: solid 5px rgb(49, 52, 61);
    float: left;
}

.section-title h2 {
    font-size: 3vw;
    color: rgb(49, 52, 61);
}



/*Section - About Me*/
#about-me {
    grid-area: about;
}

#about-me #about-text {
    width: 70%;
    display: inline-block;
    font-size: 26px;
    margin: 20px;
}



/* Main - Projects/Work Portfolio */
/* Nested Grid */
main {
    grid-area: main;
}

main .section-title {
    height: 60vw;
}

main #cards {
    width: 70%;
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
}

#brew-card {
    border: 6px solid cyan;
    height: 100%;
    width: 95%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    margin-left: 20px;
    transition: 0.5s;
}

#brew-card:hover {
    filter: brightness(130%) saturate(150%) hue-rotate(25deg);
    box-shadow: 0px 0px 5px 3px gray;
}

.project-images{
    width: 100%;
    height: 100%;
}

.work-card {
    border: solid 5px cyan;
    /* display: flex; */
    width: 45%;
    position: relative;
    margin: 20px;
    display: inline-block;
    transition: 0.5s;
}

.work-card img {
    height: 160px;
}

.work-card:hover {
    filter: brightness(110%) saturate(150%) hue-rotate(45deg);
    box-shadow: 0px 0px 5px 3px gray;
}

.card-title {
    position: absolute;
    bottom: 20px;
    height: 92px;
    width: 150px;
    padding-left: 5px;
    background-color: cyan;
    color: rgb(49, 52, 61);
}

.card-title h2 {
    color: rgb(49, 52, 61);
}


/* Footer - Contact */
#contact-me {
    grid-area: footer;
    width: 85%;
}

#contact-me .section-title {
    height: 8vw
}

#contact-me nav {
    width: 70%;
    display: inline-block;
    font-size: 26px;
    margin: 20px;
}

#contact-me nav ul {
    list-style-type: none;
    color: black;
}

#contact-me nav li {
    display: inline-block;
    padding-left: 50px;
    color: black;
}

#contact-me nav li::after {
    display: block;
    content: "______________";
}

#contact-me a {
    color: rgb(49, 52, 61);
    text-decoration: none;
}

#contact-me a:hover {
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px gray;
}

@media screen and (max-width: 992px) {
    .work-card {
        width: 90%;
    }

    .section-title {
        width: 100%;
        float: none;
        border-right: none;
        border-bottom: solid 5px rgb(49, 52, 61);
    }

    #work-title {
        height: 50px;
    }

    .section-title h2 {
       font-size: 4vw; 
    }

    #contact-title {
        padding-bottom: 100px;
    }

    #contact-me nav li {
        display: block;
        padding-left: 0px;
        font-size: 40px;
    }
  }